.footer-site {
  width: 100%;
  height: 80px;

  background: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}
.footer-site > span {
  color: white;

  font-size: 12px;
  font-family: "Roboto",sans-serif;
}